.transparent {
    -fx-background-color: rgba(0,0,0,0);
}


.bkManageBtn:hover {
    -fx-background-color: #382819;
    -fx-cursor: hand;
}

.round-layout {
    -fx-border-radius: 50;
    -fx-border-color: #070707;
}

.menuSelected {
    -fx-background-color: #603f26;
}

.mouse-moved:hover {
    -fx-background-color: #502d0d;
}
.logoutm-m:hover {
    -fx-background-radius: 60px;
    -fx-background-color: #502d0d;
}
.bgcolor-brown {
    -fx-background-color: #603f26;
}

.bgcolor-darkbrown {
    -fx-background-color: #37281A;
}

.bgcolor-lightPink {
    -fx-background-color: #ffeac5;
}

.bgcolor-red {
    -fx-background-color: #BC2D2D;
}

.bgcolor-white {
    -fx-background-color: white;
}

.border-darkbrown {
    -fx-border-width: 2px;
    -fx-border-color: #37281A;
}

.button-switchLibrary {
    -fx-border-width: 5px 5px 0px 5px;
    -fx-border-color: #603f26;
}

.outlineRight {
    -fx-border-width: 0px 2px 0px 0px;
    -fx-border-color: #37281A;
}

.outlineLeft {
    -fx-border-width: 0px 0px 0px 2px;
    -fx-border-color: #37281A;
}

.outlineDown {
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: #37281A;
}

.outlineAllBlack {
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: #000000;
}

.text-menuHeader {
    -fx-text-fill: #ffeac5;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: #ffeac5;
}

.roundEdge {
    -fx-background-radius: 15;
}

.roundEdgeTop {
    -fx-background-radius: 15 15 0 0;
}

