.transparent {
    -fx-background-color: rgba(0,0,0,0);
}

.round-layout {
    -fx-border-radius: 50;
    -fx-border-color: #070707;
}

.menuSelected {
    -fx-background-color: #603f26;
}

.mouse-moved: hover {
    -fx-border-width: 0px 0px 0px 3px;
    -fx-border-color: #ffffff;
}

.border-right {
    -fx-border-width: 0px 0.5px 0px 0px;
    -fx-border-color: #000000;
}

.border-left {
    -fx-border-width: 0px 0px 0px 1px;
    -fx-border-color: #000000;
}

.mouse-highlight: hover {
    -fx-background-color: #603200;
}

.bgcolor-brown {
    -fx-background-color: #603f26;
}

.bgcolor-darkbrown {
    -fx-background-color: #37281A;
}

.bgcolor-lightPink {
    -fx-background-color: #ffeac5;
}

.bgcolor-white {
    -fx-background-color: white;
}

.bgcolor-midBrown {
    -fx-background-color: #623C20;
}
